.Square {
    height: 200px;
    width: 200px;
    border: solid 2px black;
    border-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.results {
    flex-direction: column;
}