.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: linear-gradient(0deg,lightgrey,white);
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.results-square-wrapper {
  text-align: left;
}

.value-square-label {
  padding-right: 5px;
}

.value-square-input {
  width: 50px;
  border: solid 2px black;
  border-radius: 3px;
  height: 25px;
}